<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.github.mayconr.juoserver.game.model.AccountMobile" alias="AccountMobile" />
        <typeAlias type="com.github.mayconr.juoserver.game.model.UOMobile" alias="UOMobile" />
        <typeAlias type="com.github.mayconr.juoserver.game.model.UOItemData" alias="UOItemData"/>
        <typeAlias type="com.github.mayconr.juoserver.game.model.UOAccount" alias="UOAccount" />
        <package name="com.github.mayconr.shard.storage"/>
    </typeAliases>

    <typeHandlers>
        <package name="com.github.mayconr.shard.storage.types"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mappers/MobileMapper.xml"/>
        <mapper resource="mappers/ItemMapper.xml"/>
        <mapper resource="mappers/AccountMapper.xml"/>
    </mappers>

</configuration>